body {
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 16px;
  --input-radius: 4px;
  --tab-radius-active: 4px 4px 0 0;
  --checkbox-radius: 0px;
  --toggle-radius: 16px;
  --toggle-thumb-radius: 50%;
  --slider-thumb-radius: 50%;

  --h1-font: Monospace, monospace;
  --h2-color: Monospace, monospace;
  --h3-color: Monospace, monospace;
  --h4-color: Monospace, monospace;
  --h5-color: Monospace, monospace;
  --h6-color: Monospace, monospace;
}

.workspace-tab-header.is-active::before,
.workspace-tab-header.is-active::after {
  display: none;
}

button {
  border-radius: var(--radius-l);
}

select.dropdown {
  border-radius: var(--radius-m);
}

svg * {
  stroke-linecap: square;
  stroke-linejoin: miter;
  rx: 0;
  ry: 0;
}

.menu {
  padding: var(--size-2-1);
}

.menu-item {
  padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
  margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}

.theme-dark {
  --background-primary: #2e2f35;
  --background-secondary: #464753;

  --h1-color: hsl(201, 59%, 56%);
  --h2-color: hsl(187, 59%, 56%);
  --h3-color: hsl(167, 59%, 56%);
  --h4-color: hsl(91, 59%, 56%);
  --h5-color: hsl(71, 59%, 56%);
  --h6-color: hsl(60, 59%, 56%);
}

.theme-light {
  --background-primary: #f6f6f6;
  --background-secondary: #e4e4e4;

  --h1-color: hsl(202, 65%, 34%);
  --h2-color: hsl(187, 65%, 34%);
  --h3-color: hsl(167, 65%, 34%);
  --h4-color: hsl(91, 65%, 34%);
  --h5-color: hsl(71, 65%, 34%);
  --h6-color: hsl(60, 65%, 34%);
}
